.center-first-item {
    @include tablet() {
        padding: calc(50vh - 50%) 0;
    }
}

.nav-bottom {
    @include mobile() {
        margin-top: 3em;
    }

    @include tablet() {
        position: fixed;
        right: 2.25rem;
        bottom: 1.25rem;
    }
}