.loader {
    width: 5em;
    height: 5em;
    border-color: transparentize(#fff, .2);
    border-width: 4px;
    border-right-color: transparent;
    border-top-color: transparent;
    opacity: 0;
    transition: opacity .2s $easeInOutQuad;

    &.is-active {
        opacity: 1;
    }

    .is-loaded & {
        opacity: 0;
    }
}