.separator {
    color: $text-light;
}

@mixin title-styles() {
    font-size: 3em;

    @include tablet() {
        font-size: 4em;
    }

    @include desktop() {
        font-size: 4.5em;
    }

    @include widescreen() {
        font-size: 5em;
    }

    text-transform: uppercase;
    line-height: .8;
    letter-spacing: -.02em;
}

h1 {
    &.title {
        @include title-styles();

        .dark & {
            color: $title-strong-color-light;

            span.separator {
                font-size: .7em;
                position: relative;
                top: -.15em;
                color: $title-color-light;
                
                @include tablet() {
                    margin: 0 -.05em;
                }
            }
        }
    }

    .sub {
        .dark & {
            color: $title-color-light;
        }
    }
}

h2 {
    &.subtitle {
        @include title-styles();

        .dark & {
            color: $title-color-light;
        }
    }
}

h6, .content h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    color: $text-light;

    &:not(:first-child) {
        margin-top: 1.5em;
    }
}

a {
    color: $text;

    &:visited {
        color: $text;
    }

    &:hover {
        color: $text;
    }

    &:active {
        color: darken($text, 30%);
    }
}

@mixin linkLine() {
    content: "";
    width: 100%;
    height: 4px;
    top: 50%;
    left: 0;
    background-color: $link-line-color;
    position: absolute;

    .dark & {
        background-color: $link-line-color-dark;
    }
}

.content a:not(.button), .navbar-item a {
    $animation-speed: .3s;

    display: inline-block;
    position: relative;
    z-index: 0;
    vertical-align: bottom;
    overflow: hidden;

    &::before, &::after {
        @include linkLine();
        transition: transform $animation-speed 0s $easeInCubic, background-color $transition-speed * .1 $transition-speed * .66 $easeInOutQuad;
    }

    &::before {
        z-index: -1;
        transform: translate3d(0, 0, 0);
        opacity: .75;
    }

    &::after {
        z-index: 1;
        transform: translate3d(calc(-102%), 0, 0);
    }

    &:hover, &.is-active {
        &::before {
            transform: translate3d(calc(102%), 0, 0);
            transition: transform $animation-speed 0s $easeOutCubic, background-color $transition-speed * .1 $transition-speed * .66 $easeInOutQuad;
        }   

        &::after {
            transform: translate3d(0, 0, 0);
            transition: transform $animation-speed $animation-speed $easeOutCubic, background-color $transition-speed * .1 $transition-speed * .66 $easeInOutQuad;
        }
    }
}