MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
WORDPRESS_URL=http://localhost:8080
ASTRO_URL=http://localhost:4321
BUILD_WEBHOOK_SECRET=
WORDPRESS_ADMIN_USER=
WORDPRESS_ADMIN_PASSWORD=
WORDPRESS_ADMIN_EMAIL=
