.center-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
    padding: 5.5em 0;
    text-align: center;

    @include tablet() {
        padding: 4em ($logo-size-tablet / 2);
    }

    @include desktop() {
        padding: 4em ($logo-size-desktop / 2);
    }
    
    @include widescreen() {
        padding: 4em ($logo-size-widescreen / 2);
    }

    &.is-fixed {
        position: fixed;
        width: calc(50% - #{$column-gap * 2});
        
        @include tablet() {
            padding-right: $column-gap;
        }

        @include desktop() {
            padding-right: $navbar-padding-horizontal;
        }

        > div {
            width: 100%;
        }
    }
}