.release-cover {
    background: $background-dark;
    width: 100%;
    position: relative;
    transition: opacity .3s $easeInOutQuad;
    opacity: .3;

    @include mobile() {
        width: 50%;
        margin: 0 auto;
    }

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    img {
        vertical-align: middle;
        position: absolute;
        width: 100%;
        height: auto;
    }

    .is-active & {
        opacity: 1;
    }

    p {
        z-index: 1000;
        color: red;
        position: relative;
    }
}

ul.release-cover-list {
    margin-left: -$column-gap;
    margin-right: -$column-gap;

    li {
        &:not(:last-child) {
            margin-bottom: 50%;

            @include mobile() {
                margin-bottom: 0;
            }
        }

        @include mobile() {
            padding: 6rem $column-gap;

            &:nth-child(even) {
                background-color: $background-dark;
            }
        }
    }
}