.social-links {
    display: flex;
    align-items: center;

    span.link-target {
        display: none;

        @include tablet() {
            display: inline;
        }

        @include small-title-styles();
        margin-right: 1.25em;
        opacity: 0;
        transition: opacity $easeInOutQuad .5s;

        &.is-active {
            opacity: 1;
            transition: opacity $easeInOutQuad .3s;
        }
    }

    .navbar & {
        margin-top: 1em;
    }

    a {
        font-size: 1.4em;
        display: inline-block;
        transition: color .2s $easeInOutQuad; 
        padding-right: .5em;
        padding-left: .5em;
        color: $text-light;
        background: none !important;

        .navbar & {
            font-size: .9em;
        }

        @include tablet() {}

        &:hover {
            color: $text;
        }

        &:before, &:after {
            content: normal;
        }
    }
}