.transition-block {
    position: fixed;
    height: 100vh;
    width: 50%;
    transform: translate3d(0, 0, 0);

    .transition-dark-exit &, .transition-light-exit & {
        transition: transform $easeInOutQuart $transition-speed;
    }

    @include mobile() {
        .transition-dark-exit &, .transition-light-exit & {
            transition: transform $easeInOutQuart ($transition-speed - .1s);
        }
    }

    .transition-light-exit & {
        background-color: $background-light;
    }

    .transition-dark-exit & {
        background-color: $background-dark-shade;
    }

    &.right {
        top: 100vh;
        left: 50%;

        .transition-dark-exit &, .transition-light-exit & {
            transform: translate3d(0, -100%, 0);
        }

        @include mobile() {
            transition-delay: .1s;
        }

        @include tablet() { 
            .transition-light-exit & {
                background-color: $background-light;
            }
        
            .transition-dark-exit & {
                background-color: $background-dark;
            }
        }
    }

    &.left {
        left: 0;
        top: 100vh;

        .transition-dark-exit &, .transition-light-exit & {
            transform: translate3d(0, -100%, 0);
        }

        @include tablet() {
            top: -100vh;

            .transition-dark-exit &, .transition-light-exit & {
                transform: translate3d(0, 100%, 0);
            }
        }

        @include tablet() { 
            .transition-light-exit & {
                background-color: $background-light-shade;
            }
        }
    }
}