.transition-block {
    position: fixed;
    height: 100vh;
    width: 50%;
    transform: translate3d(0, 0, 0);

    .transition-dark-exit &, .transition-light-exit & {
        transition: transform $easeInOutQuart $transition-speed;
    }

    &.right {
        top: 100vh;

        @include mobile() {
            width: 100%;
        }

        @include tablet() {
            left: 50%;
        }

        .transition-dark-exit &, .transition-light-exit & {
            transform: translate3d(0, -100%, 0);
        }

        .transition-light-exit & {
            background-color: $background-light;
        }
    
        .transition-dark-exit & {
            background-color: $background-dark-shade;

            @include tablet() {
                background-color: $background-dark;
            }
        }
    }

    &.left {
        left: 0;
        top: -100vh;
        display: none;

        @include tablet() {
            display: block;
        }

        .transition-dark-exit &, .transition-light-exit & {
            transform: translate3d(0, 100%, 0);
        }

        .transition-light-exit & {
            background-color: $background-light-shade;
        }
    
        .transition-dark-exit & {
            background-color: $background-dark-shade;
        }
    }
}