main.main {
    > .columns {
        margin: 0;

        > .column {
            position: relative;

            > * {
                .transition-dark-enter &, .transition-light-enter & {
                    opacity: 0;
                }

                .transition-dark-enter-active &, .transition-light-enter-active & {
                    opacity: 1;
                    transition: opacity $transition-speed;
                }
            }

            @include tablet() {
                min-height: 100vh;
            }

            &:nth-child(1) {
                margin: 0;
                padding: 0;
                min-height: 350px;

                @include mobile() {
                    height: 350px;
                }

                &.has-height-auto {
                    height: auto;
                }

                background: $background-light-shade;

                .dark & {
                    background: $background-dark-shade;
                }
            }

            &:nth-child(2) {
                margin: 0;
            }

            .is-full-mobile {
                min-height: 100vh;
            }
        }
    }
}