.background {
    @include stretch-div();
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    > .inner {
        $animation-speed: .4s;

        @include stretch-div();
        @include stretch-background();

        opacity: 0;
        transform: scale(1.05);
        transition: opacity $animation-speed / 2 $easeInOutQuad, transform $animation-speed $easeOutCubic;
        backface-visibility: hidden;

        @include mobile() {
            background-position: center 25%;
        }
    }

    &.is-loaded {
        > .inner {
            transform: scale(1);
            opacity: 1;
        }
    }
}