.navbar {
    &.is-transparent {
        background-color: transparent;
    }

    .separator {
        display: flex;
        align-items: center;
        font-size: 1.2em;

        @include touch() {
            display: none;
        }
    }

    .navbar-item {        
        a {
            position: relative;
            transition: color $transition-speed * .1 $transition-speed * .66 $easeInOutQuad;

            &:hover {
                .light &, .to-light & {
                    color: darken($text, 15%);
                }

                .dark &, .to-dark & {
                    color: darken($text, 5%);
                }
            }

            &::before, &::after {
                .to-light & {
                    background-color: $link-line-color;
                }

                .to-dark & {
                    background-color: $link-line-color-dark;
                }
            }
        }
    }

    .navbar-end {
        $menu-animation-speed: .4s;

        @include touch() {
            display: none;
            text-align: center;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .navbar-item {
                opacity: 0;
                font-size: 1.7em;
                padding: 1rem 1.5rem;
                transform: translate3d(0, 50%, 0);
                transition: transform $menu-animation-speed $easeOutCubic, opacity $menu-animation-speed $easeInOutQuad;

                @for $i from 1 through 8 {
                    &:nth-child(#{$i}) {
                        transition-delay: (.1s + $i * .05s);
                    }
                }
            }

            transition: opacity $menu-animation-speed $easeInOutQuad; 

            &.menu-enter, &.menu-enter-active, &.menu-enter-done, &.menu-exit, &.menu-exit-active {
                display: flex;
                background: $background-light;

                .dark & {
                    background: $background-dark;
                }
            }

            &.menu-enter-active, &.menu-enter-done {
                .navbar-item {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                }
            }

            &.menu-enter {
                opacity: 0;
            }

            &.menu-enter-active, &.menu-enter-done {
                opacity: 1;
            }

            &.menu-exit, &.menu-exit-active {
                transition: transform $menu-animation-speed $easeInCubic, opacity $menu-animation-speed $easeInOutQuad; 
                
                .navbar-item {
                    opacity: 0;
                    transform: translate3d(0, 20%, 0);
                    transition: transform $menu-animation-speed $easeInCubic, opacity $menu-animation-speed $easeInOutQuad;
                }
            }

            &.menu-exit {
                opacity: 1;
            }

            &.menu-exit-active {
                opacity: 0;
            }

            &.menu-exit-done {
                display: none;
            }
        }
    }
}

