.release-info {
    text-align: right;
    width: 100%;
    
    h1 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    h2 {
        margin-top: 0 !important;
    }

    .label {
        margin-bottom: 1.5rem !important;
    }

    .is-fixed & {
        // position: absolute;
        // right: 2rem;
        // left: 5rem;
        // width: auto;
    }
}