.release-cover {
    background: $background-dark;
    width: 100%;
    position: relative;
    transition: opacity .3s $easeInOutQuad;

    @include mobile() {
        width: 40%;
        margin: 0 auto;
    }

    @include tablet() {
        opacity: .3;
    }

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    img {
        vertical-align: middle;
        position: absolute;
        width: 100%;
        height: auto;
    }

    .is-active & {
        opacity: 1;
    }

    p {
        z-index: 1000;
        color: red;
        position: relative;
    }
}

.release-cover-list {
    li {
        &:not(:last-child) {
            margin-bottom: 50%;

            @include mobile() {
                margin-bottom: 0;
            }
        }
    }
}