.release-cover {
    background: $background-dark;
    width: 100%;
    position: relative;
    opacity: .5;
    transition: opacity .3s $easeInOutQuad;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    img {
        vertical-align: middle;
        position: absolute;
        width: 100%;
        height: auto;
    }

    &:not(:last-child) {
        margin-bottom: 50%;
    }

    &.is-active {
        opacity: 1;
    }

    p {
        z-index: 1000;
        color: red;
        position: relative;
    }
}