main.main {
    > .columns {
        margin: 0;

        > .column {
            position: relative;
            min-height: 400px;

            > * {
                .transition-dark-enter &, .transition-light-enter & {
                    opacity: 0;
                }

                .transition-dark-enter-active &, .transition-light-enter-active & {
                    opacity: 1;
                    transition: opacity $transition-speed;
                }
            }

            @include tablet() {
                min-height: 100vh;
            }

            &:nth-child(1) {
                background: $background-light-shade;
                margin: 0;
                padding: 0;

                .dark & {
                    background: $background-dark-shade;
                }

                // .transition-exit & {
                //     background: $background-dark-shade;

                //     .dark & {
                //         background: $background-light-shade;
                //     }
                // }
            }

            &:nth-child(2) {
                margin: 0;
                // background: $background-light;
                
                // .dark & {
                //     background: $background-dark;
                // }            

                // .transition-exit & {
                //     background: $background-dark;

                //     .dark & {
                //         background: $background-light;
                //     }
                // }
            }
        }
    }
}