main.main {
    > .columns {
        margin: 0;

        > .column {
            position: relative;
            min-height: 400px;

            @include tablet() {
                min-height: 100vh;
            }

            &:nth-child(1) {
                background: $background-light-shade;
                margin: 0;
                padding: 0;

                .dark & {
                    background: $background-dark-shade;
                }
            }

            &:nth-child(2) {
                margin: 0;
            }
        }
    }
}

$logo-ratio:    276.34 / 228.07;

@mixin logo-positions($width, $position: 'right') {
    $height: $width / $logo-ratio;

    width: $width;
    height: $height;

    @if($position == 'right') {
        position: fixed;
        top: 50%;
        margin-top: -$height / 2;
        right: calc(50% - #{$width / 2});
    } @else if($position == 'bottom') {
        position: absolute;
        left: 50%;
        bottom: -$height / 2;
        margin-left: -$width / 2;
    }
}

.logo {
    fill: $logo-color;
    z-index: 10;

    .dark & {
        fill: $logo-color-dark;
    }

    @include mobile() {
        @include logo-positions($logo-size-mobile, 'bottom');
    }

    @include tablet() {
        @include logo-positions($logo-size-tablet, 'right');
    }

    @include desktop() {
        @include logo-positions($logo-size-desktop, 'right');
    }
    
    @include widescreen() {
        @include logo-positions($logo-size-widescreen, 'right');
    }
}