$animation-speed: .2s;

.release-info-enter {
    opacity: 0.01;
    
    &.release-info-enter-active {
        opacity: 1;
        transition: opacity $animation-speed $easeInOutQuad;
        // transition-delay: $animation-speed;
    }
}

.release-info-exit {
    opacity: 1;
    
    &.release-info-exit-active {
        opacity: 0.01;
        transition: opacity $animation-speed $easeInOutQuad;
    }
}