html, body {
    background-color: $background;
    color: $text;
    line-height: 1.7;
    font-size: 15px;
    transition: background-color .3s $easeInOutQuad;

    @include tablet-only() {
        font-size: 13px;
    }
}

.content ul {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}