html, body {
    background-color: $background-light;
    color: $text;
    line-height: 1.7;
    font-size: 15px;

    @include tablet-only() {
        font-size: 13px;
    }
}

.theme {
    &.light {
        background-color: $background-light;
    }

    &.dark {
        background-color: $background-dark;
    }
}

.content ul {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}