main.main {
    > .columns {

        > .column {
            position: relative;
            min-height: 300px;

            @include tablet() {
                min-height: 100vh;
            }

            &:nth-child(1) {
                background: darken($background, 5%);
            }
        }
    }
}