main.main {
    > .columns {

        > .column {
            position: relative;
            min-height: 400px;

            @include tablet() {
                min-height: 100vh;
            }

            &:nth-child(1) {
                background: darken($background, 5%);
            }
        }
    }
}

.center-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}