.navbar {
    &.is-transparent {
        background-color: transparent;
    }

    .separator {
        display: flex;
        align-items: center;
        color: lighten($text, 30%);
        font-size: 1.2em;

        @include touch() {
            display: none;
        }
    }

    .navbar-item {
        $animationSpeed: .2s;
        
        a {
            position: relative;
            color: $text;

            &:hover {
                color: darken($text, 15%);
            }

            &:active {
                color: darken($text, 50%);
            }

            &::before {
                content: "";
                position: absolute;
                background-color: #fff;
                height: .6em;
                top: .8em;
                left: 0;
                right: 0;
                z-index: -1;
                opacity: 0;
                transform: translate3d(0, 1.25em, 0);
                transition: opacity $animationSpeed $easeInSine, transform $animationSpeed $easeInCubic;
            }
        }

        &.is-active {
            a {
                &::before {
                    opacity: 1;
                    transform: translate3d(0, 0, 0);
                    transition: opacity $animationSpeed ($animationSpeed / 2) $easeOutSine, transform $animationSpeed ($animationSpeed / 2) $easeOutCubic;
                }
            } 
        }

    }
}

