.separator {
    color: $text-light;
}

@mixin title-styles() {
    font-size: 4em;

    @include tablet() {
        font-size: 4em;
    }

    @include desktop() {
        font-size: 4.5em;
    }

    @include widescreen() {
        font-size: 5em;
    }

    text-transform: uppercase;
    line-height: .8;
    letter-spacing: -.02em;
}

h1 {
    &.title {
        @include title-styles();

        .dark & {
            color: $title-strong-color-light;

            span.separator {
                margin: 0 -.05em;
                font-size: .7em;
                position: relative;
                top: -.15em;
                color: $title-color-light;
            }
        }
    }

    .sub {
        .dark & {
            color: $title-color-light;
        }
    }
}

h2 {
    &.subtitle {
        @include title-styles();

        .dark & {
            color: $title-color-light;
        }
    }
}

h6, .content h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    color: $text-light;
}

a {
    color: $text;

    &:hover {
        color: $text;
    }

    &:active {
        color: darken($text, 30%);
    }
}

@mixin linkLine() {
    content: "";
    width: 100%;
    height: 4px;
    top: 50%;
    left: 0;
    background-color: #fff;
    position: absolute;

    .dark & {
        background-color: lighten($background-dark, 10%);
    }
}

.content a:not(.button), .navbar-item a {
    $animation-speed: .3s;

    display: inline-block;
    position: relative;
    z-index: 0;
    vertical-align: bottom;
    overflow: hidden;

    &::before {
        @include linkLine();

        z-index: -1;
        transform: translate3d(0, 0, 0);
        transition: transform $animation-speed $easeInCubic;
        transition-delay: 0s;
        opacity: .75;
    }

    &::after {
        @include linkLine();

        z-index: 1;
        transform: translate3d(calc(-102%), 0, 0);
        transition: transform $animation-speed $easeInCubic;
        transition-delay: 0s;
    }

    &:hover, &.is-active {
        &::before {
            transform: translate3d(calc(102%), 0, 0);
            transition-timing-function: $easeOutCubic;
            transition-delay: 0s;
        }   

        &::after {
            transform: translate3d(0, 0, 0);
            transition-timing-function: $easeOutCubic;
            transition-delay: $animation-speed;
        }
    }
}