$primary:                   #c0392b;     

$background-light:          #EDE9E1;
$background-light-shade:    darken(#EDE9E1, 4%);
$background-dark:           #262624;
$background-dark-shade:     #191919;
$text:                      #767470;
$text-light:                transparentize($text, .6);

$family-primary:            'Roboto Mono', monospace;
$body-font-size:            .9em;
$gap:                       0;
$title-color:               $text;
$title-strong-color:        $text;
$content-heading-color:     $text;

$title-color-light:         $text;
$title-strong-color-light:  #fff;

// Logo
$logo-color:                #fff;
$logo-color-dark:           #373735;
$logo-size-mobile:          120px;
$logo-size-tablet:          90px;
$logo-size-desktop:         130px;
$logo-size-widescreen:      150px;

$transition-speed:          .8s;
